fastapi
uvicorn
python-docx
python-multipart
openai
jinja2
pandas
fastapi-mail
xhtml2pdf
scikit-learn
rapidfuzz
nltk
# Authentication and database
passlib[bcrypt]
python-jose[cryptography]
python-multipart
# Stripe integration
stripe
# Database
psycopg2-binary
sqlalchemy
# Environment variables
python-dotenv
